DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=
RABBITMQ_QUEUE=

ALGORITHM=

SERVICE_NOTIFICATION_TOKEN=some_token
TOKEN_NOTIFICATIONS=some_key